#Dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: .3em;
    grid-template-areas: 
    "friends friends chat chat"
    "friends friends chat chat"
    "events events news news"
    "events events news news"
    ". tasks tasks ."
    ". tasks tasks ."
    ;
}

#friends {
    display: grid;
    grid-area: friends;
}

#messageDiv {
    display: grid;
    grid-area: chat;
}

#eventsDiv {
    display: grid;
    grid-area: events;
}

#newsDiv {
    display: grid;
    grid-area: news;
}

#tasksDiv {
    display: grid;
    grid-area: tasks;
}

