#event_list {
    margin-top: 1em
}


.firstEvent {
    background-color: paleturquoise;
    font-size: 1.1em;
    font-weight: bold
}

#event_list p, #event_list h3 {
    margin: .25em
}

.editForm label {
    font-size: 16px;
    font-weight: normal;
    font-style: italic
}

.userEvents {
    border: 3px solid lightgreen;
    box-shadow: 3px 3px 15px darkslategray;
    margin-bottom: 15px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;

}