#newsForm {
    display: block;
    border: 3px solid lightgreen;
    box-shadow: 3px 3px 15px darkslategray;
    width: 50%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#newsForm__title,
#newsForm__summary,
#newsForm__url {
    width: 500px;
    margin-bottom: 15px;
}

#newsForm h1 {
    font-size: 25px;
}

.newsArticle {
    border: 3px solid lightgreen;
    box-shadow: 3px 3px 15px darkslategray;
    margin-bottom: 15px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 60%;

}

.friendArticle, .friendEvent {
    font-style: italic;
    background-color: cornsilk
}

.modal {
    width: 500px;
    position:absolute;
    z-index: 1;
    top: 30%;
    left: 35%;
    right: 35%;
    background-color: white;
    margin: 0, auto;
    border: 3px solid lightgreen;
    padding: 10px;
    box-shadow: 3px 3px 15px darkslategray;
}