body {
    background-color: rgb(252, 252, 252)

}
#userFormSection input, #event_formContent label, .editForm label {
    display: block;
}

.hideIt {
    display: none;
}

.partyTime {
    background-color: #0275d8;
    text-align: center;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Cardo', serif;
    box-shadow: 3px 3px 10px darkslategray;   
    margin-bottom: 15px; 
}


.partyTime h1 {
    font-size: 40px;
    margin-bottom: 0px;
}

.partyTime h2 {
    font-size: 30px;
    margin-top: 15px;
}

#logOutButton,
#returnToDashButton {
    width: 400px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}


#taskListForm ul {
    list-style-type: none;

}

#landingPage {
    position: relative;
    text-align: center;
    
}


#landingPage > div {
    text-align: center;
    margin-top: 200px;
}

#landingPage img {
    height: 70%;
    position: fixed;
    z-index: -1;
    left: 20px;
    bottom: 150px;
}

#userFormSection {
    width: 40%;
    margin: 0 auto;
}

#user_password {
    margin-bottom: 15px;
}

#unorderedTaskList li {
    font-size: 1.4rem;
}

#unorderedTaskList label {
    margin-left: 10px;
}


#landingPage > div {
    text-align: center;
}
#userFormSection {
    width: 40%;
    margin: 0 auto;
}

#user_password {
    margin-bottom: 15px;
}

#unorderedTaskList li {
    font-size: 1.4rem;
}

#unorderedTaskList label {
    margin-left: 10px;
}


#taskListForm,
#newTaskForm {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#newTaskForm {
    margin-top: 2%;
}

#newTaskForm form label,
#newTaskForm form input {
    display: block;
}

#newTaskCancel {
    margin-left: 5px;
}

#Dashboard button{
    margin-left: 10px;
    margin-top: 10px;
}

#Dashboard div.col,
#Dashboard div.col-6 {
    padding: 20px 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    text-align: center;
    margin: 20px 10px;

    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
}

#Dashboard div.col-6 {
    margin: 20px auto;
}

#Dashboard div.row:first-of-type {
    margin-top: 20px;
}
