body {
    background-color: rgb(252, 252, 252)

}
#userFormSection input, #event_formContent label, .editForm label {
    display: block;
}

.hideIt {
    display: none;
}

.partyTime {
    background-color: lightgreen;
    text-align: center;
}

#taskListForm ul {
    list-style-type: none;
}

#landingPage {
    position: relative;
    text-align: center;
    
}


#landingPage > div {
    text-align: center;
    margin-top: 200px;
}

#landingPage img {
    height: 70%;
    position: fixed;
    z-index: -1;
    left: 20px;
    bottom: 150px;
}

#userFormSection {
    width: 40%;
    margin: 0 auto;
}

#user_password {
    margin-bottom: 15px;
}

#unorderedTaskList li {
    font-size: 1.4rem;
}

#unorderedTaskList label {
    margin-left: 10px;
}

#taskListForm,
#newTaskForm {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#newTaskForm {
    margin-top: 2%;
}

#newTaskForm form label,
#newTaskForm form input {
    display: block;
}

#newTaskCancel {
    margin-left: 5px;
}