#userFormSection input, #event_formContent label {
    display: block;
}

.hideIt {
    display: none;
}

.partyTime {
    background-color: lightgreen;
    text-align: center;
}

#event_list {
    border: 2px solid black;
}

#event_list section:nth-child(2) {
    background-color: lightblue;
    font-size: 1.1em;
    font-weight: bold
}

#taskListForm ul {
    list-style-type: none;
}
